@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/********************************************/

:root {
  --primary-white : #fff;
  --primary-lightgray : #D3D3D3;
  --primary-dark : rgba(255,255,255,0);
  --primary-gray : #808080;
  --primary-red : #ef4035;
  --primary-hover-red : #f33501;

}

body{
  font-family: "Roboto Condensed", sans-serif !important;
}
nav{
  z-index: 2;
}

/* scrollbar css */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;

}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border: 31px none var(--primary-gray);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a646d79;
}

::-webkit-scrollbar-thumb:active {
  background: rgb(85, 107, 206);
}

::-webkit-scrollbar-track {
  background: #181A1B;
  border: 1px solid #181A1B;
  border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
  background: #181A1B;
}

::-webkit-scrollbar-track:active {
  background: #181A1B;
}

::-webkit-scrollbar-corner {
  background: transparent;
}


/* navbar css */

.logo{
  width: 3.5rem;
}

nav a.nav-link{
  font-weight: 300;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color : var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active,  .navbar-nav > li > a:focus{
  border-top : 0.1875rem solid var(--primary-lightgray);
  
}
.navbar-nav > li > a:hover {
  border-top : 0.1875rem solid var(--primary-lightgray);
}

/* header css */

.header-wraper{
  position: relative;
  background: url(pc.jpg) no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-family: "Roboto Condensed"; */
  z-index: 1;
}


.main-info h1{
  color: var(--primary-white);
  text-transform: uppercase;
}

/* typed css */

.typed-text{
  font-size: 1.5rem;
  color: var(--primary-white);
}

/* btn contact me css */

.btn-contact-me{
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  background-color: #343A40;
  margin: 2rem;
}

.btn-contact-me:hover {
  text-decoration: none;
  background-color: #343a4079;
  color: var(--primary-white);
}

/* particles css */

.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/* about me css */

.profile-img{
  width: 16rem;
  border-radius: 50%;
  padding: .3rem;
  border: 1px solid var(--primary-gray);
}

.me{
  color: #1E4F7F;
  text-transform: uppercase;
  margin-top: 70px;
  /* display: flex;
  justify-content: center; */
}

@media(max-width : 460px) {
  .profile-img{
    width: 10rem;
  }
}

/* experience css */

.experience{
  padding: 0.7rem;
}

.experience-wrapper{
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.experience h1{
  text-transform: uppercase;
  color: #1E4F7F;
}

.experience-wrapper:before{
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-gray);
  z-index: 1;
}

.timeline-block{
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right{
  float: right;
}

.timeline-block-left{
  float: left;
  direction: rtl;
}

.marker{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-dark);
  background: #343A40;
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content{
  width: 95%;
  padding: 0 0.9375rem;
  color: #212529;
  direction: ltr;
}

.timeline-content h3{
  margin-top: 0.3125rem;
  color: #1E4F7F;
  font-weight: 900;
}

/*media*/

@media(max-width: 768px){
  .experience .container{
    padding-left: 0;
  }
  .experience-wrapper:before{
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right{
    float: none;
    width: 100%;
  }
  .timeline-block-left{
    float: none;
    direction: ltr;
    width: 100%;
  }
}