@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/********************************************/

:root {
  --primary-white : #fff;
  --primary-lightgray : #D3D3D3;
  --primary-dark : rgba(255,255,255,0);
  --primary-gray : #808080;
  --primary-red : #ef4035;
  --primary-hover-red : #f33501;

}

body{
  font-family: "Roboto Condensed", sans-serif !important;
}
nav{
  z-index: 2;
}

/* scrollbar css */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;

}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border: 31px none var(--primary-gray);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a646d79;
}

::-webkit-scrollbar-thumb:active {
  background: rgb(85, 107, 206);
}

::-webkit-scrollbar-track {
  background: #181A1B;
  border: 1px solid #181A1B;
  border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
  background: #181A1B;
}

::-webkit-scrollbar-track:active {
  background: #181A1B;
}

::-webkit-scrollbar-corner {
  background: transparent;
}


/* navbar css */

.logo{
  width: 3.5rem;
}

nav a.nav-link{
  font-weight: 300;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color : var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active,  .navbar-nav > li > a:focus{
  border-top : 0.1875rem solid var(--primary-lightgray);
  
}
.navbar-nav > li > a:hover {
  border-top : 0.1875rem solid var(--primary-lightgray);
}

/* header css */

.header-wraper{
  position: relative;
  background: url(pc.jpg) no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-family: "Roboto Condensed"; */
  z-index: 1;
}


.main-info h1{
  color: var(--primary-white);
  text-transform: uppercase;
}

/* typed css */

.typed-text{
  font-size: 1.5rem;
  color: var(--primary-white);
}

/* about me css */

.btn-contact-me{
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  background-color: #343A40;
  margin: 2rem;
}

.btn-contact-me:hover {
  text-decoration: none;
  background-color: #343a4079;
  color: var(--primary-white);
}

/* particles css */

.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/* about me css */

/* .photo-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
} */

body{
  background-image: linear-gradient(340deg, rgba(76, 76, 76,0.02) 0%, rgba(76, 76, 76,0.02) 34%,transparent 34%, transparent 67%,rgba(142, 142, 142,0.02) 67%, rgba(142, 142, 142,0.02) 73%,rgba(151, 151, 151,0.02) 73%, rgba(151, 151, 151,0.02) 100%),linear-gradient(320deg, rgba(145, 145, 145,0.02) 0%, rgba(145, 145, 145,0.02) 10%,transparent 10%, transparent 72%,rgba(35, 35, 35,0.02) 72%, rgba(35, 35, 35,0.02) 76%,rgba(69, 69, 69,0.02) 76%, rgba(69, 69, 69,0.02) 100%),linear-gradient(268deg, rgba(128, 128, 128,0.02) 0%, rgba(128, 128, 128,0.02) 5%,transparent 5%, transparent 76%,rgba(78, 78, 78,0.02) 76%, rgba(78, 78, 78,0.02) 83%,rgba(224, 224, 224,0.02) 83%, rgba(224, 224, 224,0.02) 100%),linear-gradient(198deg, rgba(25, 25, 25,0.02) 0%, rgba(25, 25, 25,0.02) 36%,transparent 36%, transparent 85%,rgba(180, 180, 180,0.02) 85%, rgba(180, 180, 180,0.02) 99%,rgba(123, 123, 123,0.02) 99%, rgba(123, 123, 123,0.02) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

.profile-img{
  width: 16rem;
  border-radius: 50%;
  padding: .3rem;
  border: 1px solid var(--primary-gray);
}

.me{
  color: var(--primary-gray);
  text-transform: uppercase;
  margin-top: 70px;
  /* display: flex;
  justify-content: center; */
}

@media(max-width : 460px) {
  .profile-img{
    width: 10rem;
  }
}
